body {
 font-family: sans-serif;
}

body {
 margin: 0;
 font-family: Arial, sans-serif;
 background-color:rgb(150, 236, 110);
 text-align: center;
 }



.container {
 max-width: 700px;
 margin: 0 auto;
 padding: 20px;
 }



h1 {
 font-size: 24px;
 margin-bottom: 20px;
 text-align: center;
 
 }



img {
 background: #d9d9d9;
 border-radius: 15px;
 height: 280px;
 width: 480px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 20px 0 20px;
 font-size: 22px;
 font-weight: bold;
}



h2 {
  text-align: center;
  color: blue;
}


footer{
  background-color: rgb(80, 212, 80);
  height: 75px;
}

h1{
  display: flex;
}




a{
  text-decoration: none;
  text-size: 12px;
  color:green;
  background-color: rgb(54, 233, 209);
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}


a:hover{
  color:rgb(61, 248, 239);
  background-color: green;
  transition: 1.5s, liniar;
}



img:hover{
  width: 600px;
  height: 380px;
  transition: 2s, linior;
}
